<section class="h-screen bg-center bg-no-repeat bg-[url('/assets/bg_login.svg')] font-comfortaa">
  <div class="flex items-center justify-center h-screen">
    <div class="flex flex-col w-full md:w-1/2 xl:w-2/5 2xl:w-2/5 3xl:w-1/3 mx-auto p-8 md:p-10 2xl:p-12 3xl:p-14 bg-[#fff] rounded-2xl shadow-xl">
      <h4 class="text-2xl font-bold text-center mb-8 text-[#23318c]">Login</h4>
        <form action="" id="form_login">
            <div class="relative my-4">
                <input [(ngModel)]="username" [ngModelOptions]="{standalone: true}" type="text" id="floating_outlined" class="block px-2.5 pb-2.5 pt-4 w-full text-sm text-gray-900 bg-transparent rounded-lg border-1 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer" placeholder=" " required/>
                <label for="floating_outlined" class="absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-4 scale-75 top-2 z-10 origin-[0] bg-white dark:bg-gray-900 px-2 peer-focus:px-2 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:-translate-y-1/2 peer-placeholder-shown:top-1/2 peer-focus:top-2 peer-focus:scale-75 peer-focus:-translate-y-4 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto start-1">Username <i class="fa-solid fa-at"></i></label>
            </div>
            <div class="relative my-4">
                <input [(ngModel)]="password" [ngModelOptions]="{standalone: true}" type="text" id="floating_outlined" class="block px-2.5 pb-2.5 pt-4 w-full text-sm text-gray-900 bg-transparent rounded-lg border-1 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer" placeholder=" " requiredk/>
                <label for="floating_outlined" class="absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-4 scale-75 top-2 z-10 origin-[0] bg-white dark:bg-gray-900 px-2 peer-focus:px-2 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:-translate-y-1/2 peer-placeholder-shown:top-1/2 peer-focus:top-2 peer-focus:scale-75 peer-focus:-translate-y-4 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto start-1">Password <i class="fa-solid fa-key"></i></label>
            </div>
        </form>
        <div class="flex justify-center items-center">
          <button  (click)="submitForm()" form="form_login" class="mt-4 flex items-center justify-center cursor-pointer">
            <div
              class="relative inline-flex items-center justify-start py-3 pl-4 pr-12 overflow-hidden font-semibold shadow text-indigo-600 transition-all duration-150 ease-in-out rounded hover:pl-10 hover:pr-6 bg-gray-50 dark:bg-gray-700 dark:text-white dark:hover:text-gray-200 dark:shadow-none group"
            >
              <span
                class="absolute bottom-0 left-0 w-full h-1 transition-all duration-150 ease-in-out bg-indigo-600 group-hover:h-full"
              ></span>
              <span
                class="absolute right-0 pr-4 duration-200 ease-out group-hover:translate-x-12"
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 24 24"
                  stroke="currentColor"
                  fill="none"
                  class="w-5 h-5 text-green-400"
                >
                  <path
                    d="M14 5l7 7m0 0l-7 7m7-7H3"
                    stroke-width="2"
                    stroke-linejoin="round"
                    stroke-linecap="round"
                  ></path>
                </svg>
              </span>
              <span
                class="absolute left-0 pl-2.5 -translate-x-12 group-hover:translate-x-0 ease-out duration-200"
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 24 24"
                  stroke="currentColor"
                  fill="none"
                  class="w-5 h-5 text-green-400"
                >
                  <path
                    d="M14 5l7 7m0 0l-7 7m7-7H3"
                    stroke-width="2"
                    stroke-linejoin="round"
                    stroke-linecap="round"
                  ></path>
                </svg>
              </span>
              <span
                class="relative w-full text-left transition-colors duration-200 ease-in-out group-hover:text-white dark:group-hover:text-gray-200"
                >Send</span
              >
            </div>
          </button>
        </div>                  
        <div class="relative flex py-8 items-center">
            <div class="flex-grow border-t border-[1px] border-gray-200"></div> <span class="flex-shrink mx-4 font-medium text-gray-500">o O o</span> 
            <div class="flex-grow border-t border-[1px] border-gray-200"></div>
        </div>
        <div class="flex justify-center items-center">
          <button class="max-w-xs flex text-sm leading-5 font-bold text-center uppercase align-middle items-center border gap-3 text-white  bg-[#b5b2ff] cursor-pointer transition-all duration-[0.6s] ease-[ease] px-[1.4rem] py-2 rounded-lg border-solid border-[rgba(0,0,0,0.25)] hover:scale-[1.02]">
            <img class="w-6 h-6" src="/assets/google_ico.svg" alt="">
            Continue with Google
          </button>
        </div>
    </div>
  </div>
</section>